.card {
    width: 100px;
    height: 150px;
    margin: 1rem;
    position: relative;
    box-shadow: 4px 4px 10px rgb(33, 33, 34);
    transition: all .2s ease-in-out;
  }

  .img-container{
    border: 4px rgb(162, 173, 173);
    border-radius: 4px;
  }

  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background: #8a8888;
  }
  
  .card > .img-container > img {
    height: 100%;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 8px 8px 20px rgb(27, 27, 27);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .card:active {
    transform: translate(1px, 1px);
  }